
<div class="container" 
     >

    <a ui-sref="home" class="btn-link">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        Back
    </a>

    <form ng-submit="$ctrl.createPost()">

        <div class="thumbnail">

            <div class="caption caption-lg">

                <h3 class="title">
                    Create post
                </h3>

                 <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <label for="postTitle">Title</label>

                            <input type="text" 
                                class="form-control" 
                                id="postTitle" 
                                ng-model="$ctrl.title" 
                                placeholder="..." 
                                required>
                        </div><!--col-xs-12 col-sm-6-->

                        <div class="col-xs-12 col-sm-6">
                            <label for="introduce">Introduce</label>
                            
                            <input type="text" 
                                id="introduce" 
                                class="form-control" 
                                ng-model="$ctrl.author" 
                                placeholder="..." 
                                required>
                        </div><!--col-xs-12 col-sm-6-->
                    </div><!--row -->
                </div><!--form-group-->

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <label for="userEmail">Email</label>
                            
                            <input type="email" 
                                   class="form-control" 
                                   ng-model="$ctrl.email" 
                                   id="userEmail" 
                                   required>
                        </div><!--col-xs-12 col-sm-6-->
                        
                        <div class="col-xs-12 col-sm-6">
                            <label for="selectCategory">Category</label>
                            <select class="form-control" name="selectCategory" ng-model="$ctrl.type"  id="selectCategory">
                                <option value="food">Food</option>
                                <option value="sport">Sport</option>
                                <option value="beer">Beer</option>
                            </select>
                        </div><!--col-xs-12 col-sm-6-->
                    </div><!--row -->
                </div><!--form-group-->

                <div class="form-group">
                    <label for="postDescription">Description</label>
                    <textarea name="postDescription" 
                              id="postDescription" 
                              ng-model="$ctrl.description"
                              class="form-control" 
                              cols="30" 
                              rows="10" 
                              required>
                              </textarea>
                </div><!--form-group-->

                <input type="submit" class="btn btn-success landing" value="Create post">

            </div><!--caption-->

        </div><!--thumbnail-->

    </form><!--form-->

</div><!--container-->
