<a class="list-group-item">

   <span ng-bind="$ctrl.currentItem.title"></span>

    <span class="badge"
          ng-click='$ctrl.currentItem.sortPosts()'
          ng-bind="$ctrl.currentItem.count">
          </span><!--badge-->
    
</a><!--list-group-item-->