<div class="col-xs-12 col-sm-4">

  <div class="list-group">

    <item ng-repeat="item in $ctrl.items track by $index"
          current-item='item'>
          </item>

  </div><!--list-group-->
  
</div><!--col-xs-12 col-sm-4-->