sidebar-wrapper{
    .list-group{
        border-width: 0;
        border-radius: 0;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        background:#fff;
        [class^='list-'],[class*='list-']{
            border-radius: 0;
            border-width: 0;
            &:hover{
                cursor: pointer;
            }
        }
    }
}