
<div class="container">

    <a ui-sref="home" class="btn-link">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        Back
    </a>

    <div class="thumbnail">

        <div class="caption">

            <h3 class="title text-right">
                <div class="pull-left">
                    <a class="link"
                       ng-bind="$ctrl.post.title">
                    </a>
                    <small ng-bind="$ctrl.post.type"></small>
                </div>
                <div class="pull-right">
                    <small class="date">
                        <code ng-bind="$ctrl.post.author"></code>
                        <i ng-bind="$ctrl.post.date"></i>
                    </small>
                </div>
            </h3>

            <p class="short-description" 
               ng-bind="$ctrl.post.description">
            </p>

            <div class="media-list">

                <comment ng-repeat="comment in $ctrl.comments track by $index"
                         current-comment = 'comment'>
                         </comment>

            </div><!--media-list-->
            
        </div><!--caption-->

    </div><!--thumbnail-->

    <div class="form-wrp form-control-clear">

        <form ng-submit="$ctrl.addComment()">

            <div class="media">

                <div class="form-group">

                    <div class="row">

                        <div class="col-xs-12 col-sm-6">
                            <label for="commentAuthor">Introduce</label>
                            
                            <input type="text" 
                                    class="form-control"
                                    id="commentAuthor" 
                                    ng-model="$ctrl.author" 
                                    placeholder="..." 
                                    required>
                        </div><!--col-xs-12 col-sm-6-->

                        <div class="col-xs-12 col-sm-6">
                            <label for="commentEmail">Email</label>
                            
                            <input type="email" 
                                class="form-control" 
                                ng-model="$ctrl.email" 
                                id="commentEmail" 
                                required>
                        </div><!--col-xs-12 col-sm-6-->

                    </div><!--row -->

                </div><!--form-group-->

                <div class="form-group">
                    <label for="postDescription">Description</label>
                    <textarea name="postDescription" 
                              id="postDescription" 
                              ng-model="$ctrl.description"
                              class="form-control" 
                              cols="30" 
                              rows="4" required>
                              </textarea>
                </div><!--form-group-->

                <input type="submit" class="btn btn-success landing" value="Add comment">

            </div><!--media-->

        </form><!--form-->

    </div><!--form-wrp-->

</div><!--container-->
