<div class="col-xs-12 col-sm-8">

  <ul class="list-group posts-list">

    <post ng-repeat="post in $ctrl.posts track by $index"
          current-post='post'>
                
    </post>
    
  </ul><!--posts-list-->

</div>
