.thumbnail{
    border-width: 0;
    border-radius: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    background:#fff;
    .caption{
        padding: 20px;
        .title{
            margin-top: 0;
            color: #333;
            font-weight: 700;
            display: inline-block;
            width: 100%;
            margin-bottom: 0;
            .pull-right{
                display: block;
                line-height: 0;
                i{
                    display: block;
                    margin-top: 5px;
                }
                code{
                    font-size: 80%;
                }
            }
            .date{
                font-size: 55%;
                color: #afafaf;
            }
            a{
                margin-top: 0;
                color: #333;
                font-weight: 700;
                transition: all .2s ease;
                &:first-letter{
                    text-transform: uppercase;
                }
                &:hover{
                    background: #333;
                    text-decoration: none;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
        .btn-link{
            font-style: italic;
            color: #333;
            &:hover{
                color: #555;
                text-decoration: underline;
            }
        }
    }
}
.media-list{
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    margin-top: 10px;
    border-top: 1px solid #e0e0e0;
    .media{
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e0e0e0;
        display: inline-block;
        width: 100%;
        .media-left{
            .image-wrp{
                width: 40px;
                height: 40px;
                background: #c5c6ca;
                display: block;
            }
        }
    }
}