body{
    background: #f1f1f1;
    padding: 60px 0 50px;
}
.db{
    display: block;
}
.landing{
    display: inline-block;
    width: 100%;
}
.footer, .header {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 10;
    .text-muted {
        margin: 10px 0;
    }
}
.header{
    bottom: auto;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    .nav{
       li{
           a{
               color: #333;
               transition: all .2s ease;
               &:hover{
                    color: #fff;
                    background: #333;
                }
           }
       }
    }
}
.navbar-brand {
    padding: 11px 15px;
    height: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #333;
    transition: all .2s ease;
    margin-left: -15px;
    &:hover{
        color: #555;
    }
}
.caption{
    &.caption-lg{
        padding: 20px;
        .title{
            margin-top: 0;
            color: #333;
            font-weight: 700;
        }
    }
}
a{
    &.list-group-item{
        color: #333;
        transition: all .2s ease;
        &:hover, &:focus{
            color: #fff;
            background: #333;
        }
    }
}
.btn-link{
    display: inline-block;
    padding: 10px 0;
    color: #333;
    transition: all .2s ease;
    &:hover{
        color: #555;
        text-decoration: none;
    }
}
