<div class="media">

    <div class="media-left">
        <a href="#" class='image-wrp'>
        </a>
    </div><!--media-left-->

    <div class="media-body">
        <h5 class="media-heading text-right">
            <b class="pull-left"
                  ng-bind="$ctrl.currentComment.author">
                  </b>

            <small>
                <span ng-bind="$ctrl.currentComment.date"></span>
                <code ng-bind="$ctrl.currentComment.postType"></code>
                   </small>

        </h5>
        <p ng-bind="$ctrl.currentComment.description">
           </p>
    </div><!--media-body-->

</div><!--media-->