<li class="thumbnail">

    <div class="caption">

        <h3 class="title text-right">
            <div class="pull-left">
                <a class="link"
                   ui-sref="detail" 
                   ng-bind="$ctrl.currentPost.title"
                   ng-click="$ctrl.savePostId()">
                  </a>
                <small ng-bind="$ctrl.currentPost.type"></small>
            </div>
            <div class="pull-right">
                <small class="date">
                    <code ng-bind="$ctrl.currentPost.author"></code>
                    <i ng-bind="$ctrl.currentPost.date"></i>
                </small>
            </div>
        </h3>

        <p class="short-description" 
           ng-bind="$ctrl.currentPost.description">
           </p>

        <p>
            <a class="btn-link"
               ui-sref="detail" 
               ng-click="$ctrl.savePostId()"
               role="button">
                More about...
            </a> 
        </p>

    </div><!--caption-->

</li><!--thumbnail-->